<div class="cover">
  <div class="user-profile">
    <div class="icon text-center">
      <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
    </div>
    <div class="name text-center">
      <h1><%= @user.name %></h1>
    </div>
  </div>
  <h2><%= @user.name %>さんの「行きたい」リスト</h2>
  <div class="attraction-index">
    <% @attractions.each do |attraction| %>
      <h3><%= link_to attraction.name, attraction %>　<span id="star_average_<%= attraction.id %>"></span></h3>
        <p><%= attraction.content %></p>
 

  
  <script>
  $('#star_average_<%= attraction.id %>').raty({
    size     : 36,
    starOff: '/assets/star-off.png',
    starOn : '/assets/star-on.png',
    starHalf: '/assets/star-half.png',
    scoreName: 'review[rate]',
    readOnly: true, score: <%= attraction.reviews.average(:rate) || 0 %>
  });
  </script>
  
    <% end %>
  </div>
</div>