    <h1><%= @attraction.name %></h1>
    <p><div id="star_average"></div>
      <%= @attraction.try(:reviews).try(:average, :rate).try(:round, 1) || 0 %></p>
    <p><%= @attraction.content %></p>
    <p><%= themeparks[@attraction.themepark_id] %></p>
    <%= render "attractions/button", attraction: @attraction %>
    
    
<script>


$('#star_average').raty({
  size     : 36,
  starOff: '/assets/star-off.png',
  starOn : '/assets/star-on.png',
  starHalf: '/assets/star-half.png',
  scoreName: 'review[rate]',
  readOnly: true, score: <%= @attraction.try(:reviews).try(:average, :rate).try(:round, 1) || 0 %>,
});
</script>