<div class="cover">

<%= form_for(@attraction) do |f| %>

  <%= f.select :themepark_id, themeparks.invert %>
  
  <div class="form-group">
    <%= f.label :name, 'アトラクション名' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content, '説明' %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>
  
  <%= f.submit '投稿', class: 'btn btn-primary' %>
<% end %>
</div>